TCL_IDC.tar.gz filter=lfs diff=lfs merge=lfs -text
model/sourcemodel/Source[[:space:]]Network[[:space:]]3 filter=lfs diff=lfs merge=lfs -text
trained[[:space:]]model filter=lfs diff=lfs merge=lfs -text
